*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body > main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Chivo Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body > .main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
}	
.mental-logs{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
    background-color: #dddddd;
}
.container{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 2rem;
    margin: 10px;
    height: 100%;
}
.progress-photo{
    border-radius: 10px;
    margin:10px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
    background-color: #dddddd;
}
.checkbox-holder{
    background-color: #dddddd;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
h1 {
    font-family: "Chivo Mono", serif;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #000;  
    padding-bottom: 3px;
    text-align: center;
}
div {
    width: 4em;
    text-align: center;
}

#grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 80%;
    margin: 0 auto;
}

input[type="checkbox"] {
    width: 4em;
    height: 3.3rem;
    outline: none;
    border: none;
    appearance: none;
    background-color: rgb(138, 138, 138);
    transition: background-color 0.2s ease-in;
  }
input[type="checkbox"]:checked {
    background-color: rgb(124, 228, 158);
}
input:hover {
    cursor: pointer;
    background-color: rgb(19, 19, 19);
}
@media screen and (min-width: 1300px) {
input[type="checkbox"] {
    width: 6em;
    height: 4.6rem;
}
    
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(31, 31, 31, 0.151);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(110, 110, 110, 0.568);
  }